*.neoforge-tmp
*.tmp
session.lock

# Ignore everything in server root
/*

# Keep selected plugins
!/plugins/

# Keep required server files
!/eula.txt
!/git.sh
!/installer.jar
!/README.md
!/remove.sh
!/start.sh
!/user_jvm_args.txt